/* General Styles */
body {
	font-family: 'Monotype Corsiva', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	background-color: #efc7b0; /* pale pink background */
	color: #453536; /* dark brown text */
	margin: 0;
	padding: 0;
}

/* Header Styles */
header {
	background-color: #070707;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
header h1 {
	margin: 0;
	font-size: 2.5em;
	color: #D4AF37; /* rose gold headings */
	text-align: center;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
header nav li {
	display: inline-block;
	margin: 0 10px;
}
header nav a {
	display: block;
	padding: 10px 20px;
	background-color: #f00;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}
header nav a:hover {
	background-color: #fff;
	color: #f00;
}

/* Main Styles */
main {
	margin: 20px auto;
	max-width: 800px;
	padding: 0 20px;
}

section {
	margin-bottom: 20px;
}
section h2 {
	font-size: 2em;
	color: #D4AF37; /* rose gold headings */
}
section p {
	font-family: 'Times New Roman', sans-serif;
	margin: 0 0 10px 0;
}

/* Footer Styles */
footer {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
}
footer p {
	margin: 0;
	color: #666;
}
